.sag-navbar{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 5em;
    background-color: rgba(144, 25, 37, 0.9) ;
    position: absolute;
    border-bottom: 2px solid black;
}
.sag-sidenav{
    width: 15em;
    height: 100%;
    left: -15em;
    position: absolute;
    top: 5em;
    background-color:#901925;
    transition: all 1s ease;
}
.sag-sidenav .item{
    list-style: none;
    width: 100%;
    position: relative;
    top: 7em;
    height: 4em;
    border-bottom : 1px black solid;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
}
.sag-rightnav {
    width: 15em;
    height: 100%;
    right: 0;
    position: absolute;
    top: 5em;
    background-color:#901925;
    transition: all 1s ease;
}
.sag-rightnav .item{
    list-style: none;
    width: 100%;
    position: relative;
    top: 7em;
    height: 4em;
    border-bottom : 1px black solid;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
}
.sag-rightnav .item:hover{
    background-color: black;
    border-bottom: 2px solid #901925 ;
}
.sag-rightnav .item a{
    color: white;
    text-decoration: none;
    font-size: small;
}
.sag-sidenav .item:hover{
    background-color: black;
    border-bottom: 2px solid #901925 ;
}
.sag-sidenav .item a{
    color: white;
    text-decoration: none;
    font-size: small;
}
.custum-icone-header{
    padding-top: 1em;
    padding-left: 1em;
    visibility: hidden;
}
.container{
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
table thead th{
    color: #901925;
}
.container-items{
    display:flex;
    flex-direction: row;
}
.panel-table-items{
    width: 85%;
    height: 100%;
    padding: 1em;
    position: relative;
}
.sag-sidenav-show{
    left:0;
}
.sag-sidenav-hide{
    left:-15em;
}
.color-change{
    background-color:#901925;
}
@media  only screen and (max-width: 700px){
    .custum-icone-header{
        visibility: visible;
        padding-top: 1em;
        padding-left: 1em;
    }
    .sag-rightnav {
        width:0;
        position:absolute;
        background-color:#901925;
        transition: all 1s ease;
    }
    .panel-table-items{
        width: 100%;
        transition: 1s ease all;
    }
}
.image-resize{
    width: 5em;
    height: 5em;
}
.panel{
    -webkit-box-shadow: 4px 0px 12px 1px rgba(144,25,37,0.82);
    -moz-box-shadow: 4px 0px 12px 1px rgba(144,25,37,0.82);
     box-shadow: 4px 0px 12px 1px rgba(144,25,37,0.82);
     border: 2px solid #901925 ;
}
.panel-about{
    width: 80%;
    height: 40em;
    padding: 1em;
    opacity: 0.2;
    transition: all .5s ease;
}
.panel-about:hover{
    background-color: rgba(144, 25, 37, 0.2);
    width: 100%;
    height: 40em;
    opacity: 1;
    padding: 1em;
    margin: 1em;
}
/*
**navbar-top**
*/
.sag-navbar-ele{
    height: 100%;
    padding: 2em;

}
.sag-navbar-ele:hover{
    border-bottom: 5px solid black;
}
.sag-navbar-ele a{
    text-decoration: none;
    color: white;
}
/* element's of panels */
.sag-about-element{
    margin : 0.5em;
    width : 100%;
    height : 20%;
    background-color: rgba(144, 25, 37, 0.20);

    border-radius: 15px 0px 5px 0px;
    -moz-border-radius: 15px 0px 15px 0px;
    -webkit-border-radius: 15px 0px 15px 0px;
    border: 3px solid #901925;
}
.sag-about-element:hover{
    background-color: rgba(144, 25, 37, 0.55);
}
.sag-about-element a{
    font-size:large;
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: black;
    text-align: center;
    margin : 3em;
}