<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"  href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../front%20end/controller/mainController.js"></script>
<link rel="stylesheet" href="../css/css_all.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="myCon">
        <div class="sag-navbar"  id="navbartop" >
            <div><i class="fa fa-bars fa-2x custum-icone-header" uibutton ></i></div>
            <div class="sag-navbar-ele" navbar-buttom><a href="#">Items</a></div>
            <div class="sag-navbar-ele" navbar-buttom><a href="#">Dashboard</a></div>
            <div class="sag-navbar-ele" navbar-buttom><a href="#">About</a></div>
            <div class="sag-navbar-ele" navbar-buttom><a href="#">Employee</a></div>
            <div class="sag-navbar-ele" navbar-buttom><a href="#">Costumer</a></div>
            <div class="sag-navbar-ele" navbar-buttom><a href="#">Checkout</a></div>
            <div class="sag-navbar-ele" navbar-buttom><a href="#">Logout</a></div>
        </div>
        <div class="sag-sidenav sag-sidenav-hide" id="sidenav">
            <div class="item"><a href="#">Items</a></div>
            <div class="item"><a href="#">Dashboard</a></div>
            <div class="item"><a href="#">About</a></div>
            <div class="item"><a href="#">Employee</a></div>
            <div class="item"><a href="#">Costumer</a></div>
            <div class="item"><a href="#">Checkout</a></div>
            <div class="item"><a href="#">Logout</a></div>
        </div>
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="panel panel-default panel-about">
                    <div class="sag-about-element"><a>name  : VIP store</a></div>
                    <div class="sag-about-element"><a>mail  : somethig@gmail.com</a> </div>
                    <div class="sag-about-element"><a>admin : abx kumar</a></div>
                    <div class="sag-about-element"><a>adress : abx kumar</a></div>
                </div>
            </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="panel panel-default panel-about">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>