body {
    height: 100%;
}
.sag-title {
    font-size: large;
    font-style: normal;
    font-weight: bold;
    margin: 0.2em;
}
.sag-title.sag-subtitle {
    font-size: small;
}
md-grid-list {
    margin: 0.5em 0.25em .25em;
}
.sag-employee-card {
    height: 100%;
    display: flex;
    margin: 0.1em;
    padding: 0.3em;
}
.sag-main-container {
    width: 100%;
    height: 100%;
}
.sag-add-black {
    background-color: black;
}
.sag-sidenav {
    background-color: #b95159;
    height: 100%;
    width: 100%;
    padding: 0;
}
#popUpContainer {
    width: 100%;
    height: 100%;
}
.sag-text {
    text-align: center;
    margin: 20px 10px;
    text-decoration: none;
    font-weight: 100;
    font-size: large;
}
.employee-image-container {
    border-radius: 75px;
    border: 2px solid #b95159;
}
.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}
.sag-dialog-container {
    display: flex;
    justify-content: center;
}
/*container for about page*/

.sag-about-container {
    width: 100%;
    height: 100%;
    background-color: #b95159;
}
.sag-about-subcontainer{
    margin-left: 15em;
    margin-right: 15em;
    background-color: white;
    padding: 1em;
}
.sag-heading-text {
    font-weight: bold;
    color: #b95159;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: x-large;
    text-align: center;
    padding: 1em;
}
.sag-about-adress-container {
    font-weight: normal;
    font-size: larger;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    color: #b95159;
}
.sag-about-adress-text {
    padding: 0.1em;
}
.sag-about-image {
    width: 100%;
    height: 12em;
}
@media only screen and ( max-width: 960px) {
    /*gt sm  devices*/
    .sag-about-subcontainer {
        margin: 1em;
        padding: 0.5em;
    }

    .sag-about-image {
        width: 100%;
        height: 10em;
    }

    .sag-heading-text {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }

    .sag-about-adress-container {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }
}

@media only screen and ( max-width: 600px) {
    /*xs devices*/
    .sag-about-subcontainer {
        margin: 1em;
        padding: 0.5em;
    }

    .sag-about-image {
        width: 100%;
        height: 10em;
    }

    .sag-heading-text {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: larger;
        padding: 1em;
    }

    .sag-about-adress-container {
        margin-top: 1em;
        font-size: small;
        margin-bottom: 1em;
        padding: 1em;
    }
}
/*css for button group*/
.sag-button-group{
    margin-right: 1em;
    margin-top: 0.5em;
}
/* css for product card */
.sag-product-card{
    width: 100%;
    height: 100%;
    margin: 0.2em;
    padding: 0.3em;
}
.sag-product-image {
    margin-top: 0.5em;
    border: 1px solid black;
    border-radius: 100px;
    width: 75px;
    height: 75px;
}
.sag-product-search-box{
    display: flex;
    flex-direction: row;
}
.sag-product-search-box-padding{
    padding:0em;
    margin:0em;
}
@media only screen and (max-width: 960px) {
    .sag-product-image {
        width: 60px;
        height: 60px;
    }
}
/*css for login page*/
.sag-login-container{
     width:100%;
     height: 40em;
     background-color:#b95159;
     display: flex;
     justify-content: center;
}
.sag-login-subcontainer{
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.sag-login-input-field{
    width: 100%;
    height: 100%;
    padding: 2em;
}
@media only screen and (max-width:960px) {
    .sag-login-subcontainer{
        width: 60%;
    }
}
@media only screen and (max-width:600px){
    .sag-login-subcontainer{
        width: 100%;
    }
}
.sag-accordion{
    min-width : 90%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border-radius: 0.5em;
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;

}
.sag-transition{
    transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
}
.sag-setting-container{
    padding: 1em;
}

