<div class="sag-about-container">
    <md-content class="sag-about-subcontainer md-whiteframe-2dp">
        <div>
            <div class="md-whiteframe-2dp sag-heading-text">
                <div><img class="sag-about-image"
                          src="http://res.cloudinary.com/droxr0kdp/image/upload/v1482271062/yourstory_MyDreamStore_mse65m.jpg">
                </div>
            </div>
            <div class="sag-heading-text md-whiteframe-2dp">
                <div>Store name</div>
            </div>
            <div class="md-whiteframe-2dp">
                <div class="sag-about-adress-container">
                    <div class="sag-about-adress-text">Store phone number</div>
                    <div class="sag-about-adress-text">Store mail</div>
                    <div class="sag-about-adress-text">Store adress kjsdjdsjjds djhsdjhdsjhsd dsjhjsdhjsdhjds
                        dsjhdsjhdshjds dsjdjhdsjhsd sdjhdsjhdshj
                        kdskjdsjjds dsjsdjdsj dsnsdjjksd sdjdsjdsjdssd dsjdsjkdsjds dsjsdjsdj
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>