<md-content class="md-no-momentum sag-login-container" layout="column" flex="100">
         <div class="md-whiteframe-2dp sag-login-subcontainer"      >
                 <div class="sag-login-input-field">
                     <md-input-container class="md-icon-button md-block">
                         <label>Username</label>
                         <md-icon><i class="material-icon"></i></md-icon>
                         <input type="text" ng-model="login.username"/>
                     </md-input-container>
                     <md-input-container class="md-icon-button md-block">
                         <label>Password</label>
                         <md-icon><i class="material-icon"></i></md-icon>
                         <input type="password" ng-model="login.password">
                     </md-input-container>
                     <md-button class="md-raised md-primary" style="background-color: black">
                        Login
                     </md-button>
                 </div>
         </div>
</md-content>