<md-content>
    <div class="sag-setting-container">
        <sag-accordion title="Work profile">
            <div layout="column">
                <md-list-item>Add work profile</md-list-item>
                <md-list-item>Modify work profile</md-list-item>
            </div>
        </sag-accordion>
        <sag-accordion title="Edit Right">
            <div layout="column">
                <md-list-item>Add new right</md-list-item>
                <md-list-item>Modify existing right</md-list-item>
            </div>
        </sag-accordion>
        <sag-accordion title="Assign Task">
        </sag-accordion>
        <sag-accordion title="About Store">
        </sag-accordion>
        <sag-accordion title="Add Employee">
        </sag-accordion>
    </div>
</md-content>